name: Deploy to Render

on:
  push:
    branches:
      - main

jobs:

  deploy-backend:
    name: Deploy Backend (server/)
    runs-on: ubuntu-latest
    if: contains(github.event.head_commit.message, '[force-backend]') || contains(join(github.event.commits.*.modified, ','), 'server/') || contains(join(github.event.commits.*.added, ','), 'server/') || contains(join(github.event.commits.*.removed, ','), 'server/')
    steps:
      - name: Trigger Render Deploy for Server
        run: |
          curl -X POST \
            -H "Accept: application/json" \
            -H "Authorization: Bearer ${{ secrets.RENDER_API_KEY }}" \
            -H "Content-Type: application/json" \
            -d '{}' \
            https://api.render.com/v1/services/${{ secrets.RENDER_SERVICE_ID_SERVER }}/deploys

  deploy-frontend:
    name: Deploy Frontend (client/)
    runs-on: ubuntu-latest
    if: contains(github.event.head_commit.message, '[force-client]') || contains(join(github.event.commits.*.modified, ','), 'client/') || contains(join(github.event.commits.*.added, ','), 'client/') || contains(join(github.event.commits.*.removed, ','), 'client/')
    steps:
      - name: Trigger Render Deploy for Client
        run: |
          curl -X POST \
            -H "Accept: application/json" \
            -H "Authorization: Bearer ${{ secrets.RENDER_API_KEY }}" \
            -H "Content-Type: application/json" \
            -d '{}' \
            https://api.render.com/v1/services/${{ secrets.RENDER_SERVICE_ID_CLIENT }}/deploys
